doctype html
html
    head
        title #{project['title']}
        link(rel="stylesheet", href="css/styles.min.css")

        block head_scripts
            script(src='js/lib.js')
    body
        div#wrap
            block page
                h1.page_title
                    block page_title
                h2.page_subtitle
                    block page_subtitle
                        | #{project['subtitle']}

                ul#main_menu
                    li
                        a(href="index.html") Home page
                    li
                        a(href="catalog.html") Catalog
                    li
                        a(href="about.html") About us
                    li
                        a(href="contacts.html") Contacts
                    li
                        a(href="login.html") Login

                div#main_content
                    block main_content
                        | Some text