doctype html
html
    head
        title Test page with jade!!!
        link(rel="stylesheet", href="css/styles.css")
    body
        div#wrap
            h1 Hello #{name}!
            h2 How are you?!