//
   Created by GoForBroke on 15.04.2016.

extends ../base

block page_title
    | Contacts
block page_subtitle
    | Call me, please!
block main_content
    span Tel:&nbsp;
    b 6 (666) 666-66-66
    br

    span Address:&nbsp;
    b 6, Hell fire St., London