<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="css/styles.min.css"/>
</head>
<body>

<div id="wrap">
    <h1 class="page_title">Login page</h1>

    <h2 class="page_subtitle">Lorem ipsum 12345</h2>

    <ul id="main_menu">
        <li><a href="index.html">Home page</a></li>
        <li><a href="catalog.html">Catalog</a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="login.html">Login</a></li>
    </ul>

    <div id="main_content">
        <form id="login__form">
            <div>
                <label for="login__username">Username</label>
                <input type="text" id="login__username" name="username"/>
            </div>
            <div>
                <label for="login__password">Passwordww</label>
                <input type="text" id="login__password" name="password"/>
            </div>
            <div>
                <button type="submit">Logon</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>